.loader-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader-ring {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top: 6px solid var(--accent);
  animation: spin 1.2s linear infinite;
  box-shadow: 0 0 20px var(--accent);
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loader-container p {
  margin-top: 20px;
  font-size: 1rem;
  opacity: 0.8;
}
